body {
  color: #000000;
  background-color: #FFFFFF;
  margin: auto;
  width: 900px;
  text-align: center; /* for IE */
}

div {
  clear: left;
  width: 900px;
  text-align: justify;
}

img#id-photo {
  border: 0;
  float: left;
  margin: 0px 20px 20px 0px;
  height: 200;
  clear: right;
}

#google-scholar {
  margin-left: 1em;    
}

ul {
  margin-left: 1em;
  padding-left: 1em;
}

ul li{
  padding-bottom: 5px;
}

a:link,a:visited,a:active {
  text-decoration: none;
  border-bottom: 1px dotted;
}

div#info {
  margin-bottom: 2em;
}

h3 {
  margin-bottom: 0em;
}

div#last-updated {
  clear: left;
}

span#title {
  color: #3498DB;
}
